---
title: Conversions
description: In this topic, you will learn about Audience Insight data for converted subscribers.
parent: Guides 
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/conversions/conversions-introduction.html %}

    {% include s-audience-insights/conversions/conversions-converted-subscribers.html %}

    {% include s-audience-insights/conversions/conversions-conversion-value.html %}

    {% include s-audience-insights/conversions/conversions-conversion-breakdown-by-source.html %}

    {% include s-audience-insights/conversions/conversions-conversion-drilldown-by-source.html %}

    {% include s-audience-insights/conversions/conversions-conversions-by-category.html %}

    {% include s-audience-insights/conversions/conversions-trial-acquisition-cost.html %}

</article>
