---
title: Lost Customers
description: 'In this topic, you will learn about about Audience Insight data related to lost customers. These metrics will improve
customer visibility and help guide company decisions.'
parent: Guides
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/lost-customers/lost-customers-introduction.html %}

    {% include s-audience-insights/lost-customers/lost-customers-per-day.html %}     

    {% include s-audience-insights/lost-customers/lost-custumers-milestones.html %}

    {% include s-audience-insights/lost-customers/lost-custumers-scheduled-cancellations.html %}

    {% include s-audience-insights/lost-customers/lost-custumers-by-category.html %}

    {% include s-audience-insights/lost-customers/lost-custumers-by-video-views-and-viewing-activity.html %}

</article>