---
title: Customer Summary
description: In this topic, you will learn about customer summary Audience Insight data. These metrics will improve customer visibility and help guide company decisions.
parent: Guides 
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
    <summary>{{ page.description }}</summary>

    {% include s-audience-insights/summary/customer-summary-introduction.html %}

    {% include s-audience-insights/summary/customer-summary-customers.html %}

    {% include s-audience-insights/summary/customer-summary-net-customer-change.html %}

    {% include s-audience-insights/summary/customer-summary-customer-changes-by-week.html %}

    {% include s-audience-insights/summary/customer-summary-customer-value.html %}

    {% include s-audience-insights/summary/customer-summary-customer-count.html %}

    {% include s-audience-insights/summary/customer-summary-trials-and-conversions.html %}

    {% include s-audience-insights/summary/customer-summary-engagement.html %}

    {% include s-audience-insights/summary/customer-summary-top-titles.html %}

    {% include s-audience-insights/summary/customer-summary-top-series-movies-genres.html %}

    {% include s-audience-insights/summary/customer-summary-hours-viewed-by-device.html %}

  </article>
