---
title: 'Integration Spotlight: Vimeo'
description: 'In this topic you will learn about Vimeo, this integration allows importing Vimeo OTT video metadata, view data, subscriber data, and revenue
events.'
parent: Integration
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>
  
  {% include s-audience-insights/integration/vimeo-about-vimeo.html %}

  {% include s-audience-insights/integration/vimeo-integration-overview.html %}

  {% include s-audience-insights/integration/vimeo-what-it-means.html%}

</article>
