---
title: 'Integration Spotlight: HubSpot'
description: 'In this topic you will learn about HubSpot, this integration allows exporting subscriber cohorts from our Scorecard directly into HubSpot’s.'
parent: Integration
---
<h1>{{ page.title }}</h1>
<article class="bcls-article">
  <summary>{{ page.description }}</summary>

  {% include s-audience-insights/integration/hubspot-about-hubspot.html %}

  {% include s-audience-insights/integration/hubspot-integration-overview.html %}

  {% include s-audience-insights/integration/hubspot-what-it-means.html %}

</article>
